*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root{
  background-color: #8204ff;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1024px){
  html, body, #root{
    overflow: auto;
  } 
}